@charset "UTF-8"; /*コードの文字化けを防ぐ*/

/*共通部分*/
html {
    font-size: 100%;  /*ユーザーの設定した文字サイズを正しく反映*/
}
body {
    font-family: "Yu Gothic Medium","游ゴシック Medium",Yugothic,"游ゴシック体","ヒラギノ角ゴ Pro W3",sans-serif;
    line-height: 1.7;
    color: #432;
}

a {
    text-decoration: none;　/*<a>タグの傍線の指定*/
}

img {
    max-width: 100%;　/*画像の大きさの指定*/
}

/*HEADER*/
.logo {
    width: 210px;
    margin-top: 14px;
}

.main-nav {
    display: flex;
    font-size: 1.25rem; /*1rem=16px*/
    text-transform: uppercase;　/*全て大文字*/
    margin-top: 34px;
    list-style: none;
}


.main-nav li {
    margin-left: 36px;
}

.main-nav a {
    color: #432;
}

.main-nav a:hover {
    color: #0bd;
}

.page-header {
    display: flex;
    justify-content: space-between;/*両端の設定*/
}

.wrapper {　　　　　/*コンテンツ全体を囲むボックス*/
    max-width: 1100px;　/*横幅最大1100pxの指定*/
    margin: 0 auto; /*中央に配置する指定　上下：0　左右：auto*/
    padding: 0 4%; /*スマートフォン向け　余白の指定　上下：0　左右：4%*/
}    

/*HOME*/
.home-content {
    text-align: center;　/*画面中央に配置*/
    margin-top: 10%;
}

.home-content p {
    font-size: 1.125rem;
    margin: 10px 0 42px;　/*上・左右・下*/
}

/*見出し*/
.page-title {
    font-size: 5rem;
    font-family: 'Philosopehr', serif;
    text-transform: uppercase;
    font-weight: normal;
}

/*ボタン*/
.button {
    font-size: 1.375rem;
    background: #0bd;
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;
}

.button:hover {
    background: #0090aa;
}

/*大きな背景画像*/
.big-bg {
    background-size: cover; /*縦横比率を保ったまま画面いっぱいに広げる*/
    background-position: center top;
    background-repeat: no-repeat;
}

#home {
    background-image: url(../images/main-bg.jpg);
    min-height: 100Vh;　/*画面の高さ*/
}

#home .page-title {
    text-transform: none; /*テキスト大文字、小文字、全角は変換しない*/
}

/*レスポンシブ*/
@media (max-width: 600px) {
    #home {
        max-width: 100%;
    }
    
    .page-title {
        font-size: 2.5rem;
    }
    /*HEADER*/
    .main-nav {
        font-size: 1rem;
        margin-top: 10px;
    }
    .main-nav li {
        margin: 0 20px;
    }
    
    /*HOME*/
    .home-content {
        margin-top: 20%;
    }
    .page-header {
        flex-direction: column;　/*子要素を上から下 */
        align-items: center;
    }
}
 
/*NEWS*/
#news {
    background-image: url(../images/news-bg.jpg);
    height: 270px;
    margin-bottom: 40px;
}

#news .page-title {
    text-align: center;
}